<div id="calendar" class="calendar{% if page.home %} home-calendar{% endif %}">
    <div id="calendar-table" class="calendar-table">
        <div id="calendar-header" class="calendar-body">
            <div id="calendar-year" class="calendar-header-item calendar-year">
                <i id="calendar-prev-year" class="btn fa fa-angle-left"></i>
                <label class="now">{{ 'now' | date: '%Y' }}</label>
                <i id="calendar-next-year" class="btn fa fa-angle-right"></i>
            </div>
            {% unless page.home %}<i id="calendar-close-btn" class="calendar-header-item btn fa fa-close"></i>{% endunless %}
        </div>

        <ul id="calendar-months" class="calendar-body calendar-months">
            <li title="0">Gen</li>
            <li title="1">Feb</li>
            <li title="2">Mar</li>
            <li title="3">Apr</li>
            <li title="4">Mag</li>
            <li title="5">Giu</li>
            <li title="6">Lug</li>
            <li title="7">Ago</li>
            <li title="8">Set</li>
            <li title="9">Ott</li>
            <li title="10">Nov</li>
            <li title="11" class="calendar-months__now">Dic</li>
        </ul>

        <ul id="calendar-week" class="calendar-body calendar-week">
            <li>Lun</li>
            <li>Mar</li>
            <li>Mer</li>
            <li>Gio</li>
            <li>Ven</li>
            <li>Sab</li>
            <li>Dom</li>
        </ul>

        <ul id="calendar-day1" class="calendar-body calendar-body-day">
            <li id="2016/11/27" class="calendar-day">27</li>
            <li id="2016/11/28" class="calendar-day">28</li>
            <li id="2016/11/29" class="calendar-day">29</li>
            <li id="2016/11/30" class="calendar-day">30</li>
            <li id="2016/12/1" class="calendar-day">1</li>
            <li id="2016/12/2" class="calendar-day">2</li>
            <li id="2016/12/3" class="calendar-day">3</li>
        </ul>
        <ul id="calendar-day2" class="calendar-body calendar-body-day">
            <li id="2016/12/4" class="calendar-day">4</li>
            <li id="2016/12/5" class="calendar-day">5</li>
            <li id="2016/12/6" class="calendar-day">6</li>
            <li id="2016/12/7" class="calendar-day">7</li>
            <li id="2016/12/8" class="calendar-day">8</li>
            <li id="2016/12/9" class="calendar-day">9</li>
            <li id="2016/12/10" class="calendar-day">10</li>
        </ul>
        <ul id="calendar-day3" class="calendar-body calendar-body-day">
            <li id="2016/12/11" class="calendar-day">11</li>
            <li id="2016/12/12" class="calendar-day">12</li>
            <li id="2016/12/13" class="calendar-day">13</li>
            <li id="2016/12/14" class="calendar-day">14</li>
            <li id="2016/12/15" class="calendar-day">15</li>
            <li id="2016/12/16" class="calendar-day">16</li>
            <li id="2016/12/17" class="calendar-day">17</li>
        </ul>
        <ul id="calendar-day4" class="calendar-body calendar-body-day">
            <li id="2016/12/18" class="calendar-day">18</li>
            <li id="2016/12/19" class="calendar-day">19</li>
            <li id="2016/12/20" class="calendar-day">20</li>
            <li id="2016/12/21" class="calendar-day">21</li>
            <li id="2016/12/22" class="calendar-day">22</li>
            <li id="2016/12/23" class="calendar-day">23</li>
            <li id="2016/12/24" class="calendar-day">24</li>
        </ul>
        <ul id="calendar-day5" class="calendar-body calendar-body-day">
            <li id="2016/12/25" class="calendar-day">25</li>
            <li id="2016/12/26" class="calendar-day">26</li>
            <li id="2016/12/27" class="calendar-day">27</li>
            <li id="2016/12/28" class="calendar-day">28</li>
            <li id="2016/12/29" class="calendar-day">29</li>
            <li id="2016/12/30" class="calendar-day">30</li>
            <li id="2016/12/31" class="calendar-day">31</li>
        </ul>
        <ul id="calendar-day6" class="calendar-body calendar-body-day">
            <li id="2017/1/1" class="calendar-day">1</li>
            <li id="2017/1/2" class="calendar-day">2</li>
            <li id="2017/1/3" class="calendar-day">3</li>
            <li id="2017/1/4" class="calendar-day">4</li>
            <li id="2017/1/5" class="calendar-day">5</li>
            <li id="2017/1/6" class="calendar-day">6</li>
            <li id="2017/1/7" class="calendar-day">7</li>
        </ul>
    </div>
</div>


<script>
  {% comment %}
  {
    categories: string[];
    category: string;
    collection: string; // "posts"
    content: string;
    date: string; // "2023-07-06 00:00:00 +0200",
    draft: boolean;
    excerpt: string;
    ext: string; // ".md",
    id: string; // "/2023/07/06/che-bella",
    layout: string; // "post",
    next?: null,
    output: string;
    path: string; // "_posts/2023-07-06-che-bella.md",
    previous?: null,
    relative_path: string; // "_posts/2023-07-06-che-bella.md",
    slug: string; // "che-bella",
    tags: [],
    title: string; // "Ma quanto sei bella!",
    url: string; // "/2023/07/06/che-bella"
  }
  {% endcomment %}

  const posts = [
    {% for post in site.posts %}
    {
      categories: {{ post.categories | jsonify }},
      category: {{ post.category | jsonify }},
      collection: {{ post.collection | jsonify }},
      date: {{ post.date | jsonify }},
      draft: {{ post.draft | jsonify }},
      excerpt: {{ post.excerpt | jsonify }},
      ext: {{ post.ext | jsonify }},
      id: {{ post.id | jsonify }},
      index: {{ forloop.rindex0 | jsonify }},
      layout: {{ post.layout | jsonify }},
      path: {{ post.path | jsonify }},
      relative_path: {{ post.relative_path | jsonify }},
      slug: {{ post.slug | jsonify }},
      tags: {{ post.tags | jsonify }},
      title: {{ post.title | jsonify }},
      url: {{ post.url | relative_url | jsonify }},
    },
    {% endfor %}
  ];
  const activePost = {% if page.id %}{{ page.id | jsonify }}{% else %}null{% endif %};

</script>

{% include calendar-responsive.liquid %}
