<footer>
    <span class="copyright">© {{ site.start }}-{{ "now" | date: "%Y" }} {{ site.name }}</span>
    <div>
        <p class="comment">
            Made with ❤️ using <a href="https://github.com/jekyll/jekyll">Jekyll</a><br>
            Inspired by <a href="https://github.com/soyaine/jekyll-theme-diary">Diary theme</a>
		</p>

		<ul class="contact">
            <li><a href="https://github.com/{{ site.link.github }}"><i class="fa fa-2x fa-github"></i> </a> </li>
            <li><a href="https://twitter.com/{{ site.link.twitter }}"><i class="fa fa-2x fa-twitter"></i> </a> </li>
            <li><a href="https://instagram.com/{{ site.link.instagram }}"><i class="fa fa-2x fa-instagram"></i> </a> </li>
            <li><a href="mailto:{{ site.link.email }}"><i class="fa fa-envelope fa-2x"></i></a></li>
        </ul>
	</div>
</footer>
